*{
    font-family:  "Work Sans";
    margin: 0;
    padding: 0;
}

.text-light-grey{
    color: #727272;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

header{
    background: rgba(255, 144, 14, 0.10);
}
.navbar{
    display: flex;
    justify-content: space-around;
    padding-top: 1.8rem;
   
}

.navbar-title{
color: #131313;
text-align: center;
font-size: 2.8125rem;
font-weight: 700;
}

.navbar ul {
    display: flex;
    align-items: center;
    
}

.navbar ul li{
    list-style: none;
    padding-right: 2rem;
    
}
.navbar ul li a {
    text-decoration: none;
    color: #424242;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    
}

.banner{
    text-align: center;
}
.banner-content{
    text-align: center;
    padding: 4rem;
    margin: 0 auto;
    max-width: 50rem;
}
.main-title{
    color: #131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.btn-primary{
    padding: 1rem;
    border-radius: 0.5rem;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
}
.main-img{
    width: 75%;
    border-radius: 0.5rem;
    text-align: center;
    margin-bottom: 2rem;
}



.grid-layout{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 15rem;
    gap: 4rem;
}


.grid-imgs{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.grid-img{
    width: 15rem;
    
}

.grid-content-title{
    color: #727272;
    font-size: 2.8125rem;
    font-weight: 500;
    padding-bottom: 1rem;
}
.of-our{
    color: #131313;
    font-size: 2.8125rem;
    font-weight: 700;
}
.features{
    color: #FF900E;
    font-size: 2.8125rem;
    font-weight: 700;
}


@media screen and (max-width: 576px) {
        .navbar , .grid-layout{
            flex-direction: column;
        }
        .navbar ul{
            padding-top: 1rem;
            padding-left: 1.5rem;
        }
        .grid-imgs{
            grid-template-columns: repeat(1, 1fr);
            margin-right: 3.5rem;
        }
}